body,html{
    height: 100%;
    margin: 0;
    background-color: #fbbc80;   
    padding-top: 10px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}
header{
    display: flex;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    background-color: #7a9cb6;
    height: 15%;
}
header img{
    height: 70%;
}
header p{
    padding-left: 8%;
    color: #fff;
    font-size: 30px;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    flex-shrink: 0;
    background-color: #7a9cb6;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.top img{
    width: 70%;
}
.top p{
    margin: 0;
    font-size: 200%;
    width: 80%;
    color: #fff;
}
.wallet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 15%;
    width: 100%;
    background-color: #7a9cb6;
}
.wallet p{
    color: #fff;
    font-size: 150%;
}

.recarregue{
    display: flex;
    flex: 40%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: solid 20px #7a9cb6;
    width: 100%;
    padding: 0;
}
.recarregue div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.recarregue img{
    width: 40%;
    box-shadow: 0px 0px 3px #444;
}
.recarregue p{
    color: #fff;
    font-size: 30px;
}